<ion-view title="About Us">
    <ion-content padding="true" class="">
        <div class="transparent">
            <h2>
                MoneyPal
            </h2>
            <div>
                <p class="MsoNormal">
                    <span style="line-height: 1.42857;">Only after they have killed, polluted, and destroyed all, will
they learn they can&rsquo;t eat money and the mom that gave them life deserved to
live. The money system needs to end or we will.</span>
                    <br>
                </p>
                <p class="MsoNormal">It has never been trickle down economics and all systems are
set to take away wealth from more people than it provides wealth to. &nbsp;&nbsp;</p>
                <p class="MsoNormal">The endless accumulation of just money will not fulfil your needs
and desires, nor make anyone happy. &nbsp;</p>
                <p class="MsoNormal">People limit their dreams by how much they have, until they
stop dreaming, planning and living. We need them to dream first and prove when all
financial limitation will be met. &nbsp;&nbsp;</p>
                <p class="MsoNormal">People want to help each other but just don&rsquo;t know how. &nbsp;</p>
                <p class="MsoNormal">MoneyPal is a crowd funding platform with Watson analytic, artificial
intelligent, neural networks, which will scientifically tune all the
variables to optimize the rate of dream fulfilment. &nbsp;</p>
            </div>
        </div>
        <br>
        <ion-list type="card">
            <a href="https://twitter.com/" class="item item-icon-left" target="_blank"> <i class="icon ion-social-twitter"></i> Twitter profile </a>
            <a href="https://www.facebook.com/" class="item item-icon-left" target="_blank"> <i class="icon ion-social-facebook"></i> Facebook page </a>
            <a href="https://www.linkedin.com" class="item item-icon-left" target="_blank"> <i class="icon ion-social-linkedin"></i> LinkedIn profile </a>
        </ion-list>
    </ion-content>
</ion-view>