<ion-view title="IBM Wattson">
    <ion-content padding="true" class="">
        <img src="../img/ibm-wattson/IBM Watson - Screenshot.png" class="full-image">
        <div class="transparent">
            <div>
                <h3>
                    <br>
                </h3>
            </div>
        </div>
        <div class="transparent m-top text-center">
            <div id="share134"></div>
        </div>
        <script>
$('#share134').jsSocials({
	shares: [{ share: "email", logo: "ion-email"},{ share: "twitter", logo: "ion-social-twitter"},{ share: "facebook", logo: "ion-social-facebook"},{ share: "googleplus", logo: "ion-social-googleplus"},{ share: "linkedin", logo: "ion-social-linkedin"},{ share: "pinterest", logo: "ion-social-pinterest"}],
	url: window.location.href,
	text: "Moneygit v3 - IBM Wattson",
	showLabel: true,
	showCount: false
});
$(".jssocials").css("font-size", "14px");
</script>
    </ion-content>
</ion-view>