<ion-view title="MoneyGIT">
    <ion-content padding="true" class="">
        <section class="home-container">
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/plan" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/plan" class="button button-clear button-light">Plan</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/about-us" class="light"><i class="icon ion-ios-information icon-l"></i></a>
                    <br />
                    <a href="#!/nav/about-us" class="button button-clear button-light">About Us</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/account" class="light"><i class="icon ion-bag icon-l"></i></a>
                    <br />
                    <a href="#!/nav/account" class="button button-clear button-light">Account</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/profile" class="light"><i class="icon ion-compose icon-l"></i></a>
                    <br />
                    <a href="#!/nav/profile" class="button button-clear button-light">Profile</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/fixed-expenses" class="light"><i class="icon ion-compose icon-l"></i></a>
                    <br />
                    <a href="#!/nav/fixed-expenses" class="button button-clear button-light">Fixed Expenses</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/variable-costs" class="light"><i class="icon ion-compose icon-l"></i></a>
                    <br />
                    <a href="#!/nav/variable-costs" class="button button-clear button-light">Variable Costs</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/income" class="light"><i class="icon ion-compose icon-l"></i></a>
                    <br />
                    <a href="#!/nav/income" class="button button-clear button-light">Income</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/assests" class="light"><i class="icon ion-compose icon-l"></i></a>
                    <br />
                    <a href="#!/nav/assests" class="button button-clear button-light">Assests</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/goals" class="light"><i class="icon ion-image icon-l"></i></a>
                    <br />
                    <a href="#!/nav/goals" class="button button-clear button-light">Goals</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/2a-user-profile-2a" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/2a-user-profile-2a" class="button button-clear button-light">* User Profile *</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/expenses-2a" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/expenses-2a" class="button button-clear button-light">Expenses*</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/send-data" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/send-data" class="button button-clear button-light">Send Data</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/dreams-2" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/dreams-2" class="button button-clear button-light">Dreams</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/recommendation" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/recommendation" class="button button-clear button-light">Recommendation</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/time" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/time" class="button button-clear button-light">Time</a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/expenses" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/expenses" class="button button-clear button-light">Expenses</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/vote-up" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/vote-up" class="button button-clear button-light">Vote Up </a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/rent" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/rent" class="button button-clear button-light">Rent</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/products" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/products" class="button button-clear button-light">Products </a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/coupons" class="light"><i class="icon ion-scissors icon-l"></i></a>
                    <br />
                    <a href="#!/nav/coupons" class="button button-clear button-light">Coupons</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/top-get-rich" class="light"><i class="icon ion-link icon-l"></i></a>
                    <br />
                    <a href="#!/nav/top-get-rich" class="button button-clear button-light">Top Get Rich </a>
                </div>
                <div class="col text-center bg-dark">
                    <a href="#!/nav/ibm-wattson" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/ibm-wattson" class="button button-clear button-light">IBM Wattson</a>
                </div>
            </div>
            <div class="row icon-row none">
                <div class="col text-center bg-dark">
                    <a href="#!/nav/crowd-fundraising" class="light"><i class="icon ion-document-text icon-l"></i></a>
                    <br />
                    <a href="#!/nav/crowd-fundraising" class="button button-clear button-light">Crowd Fundraising </a>
                </div>
                <div class="col text-center">&nbsp;</div>
            </div>
        </section>
    </ion-content>
</ion-view>